<%= render "shared/header" %>

<section class="top-image text-center">
  <div class="row position-relative">
    <%= image_tag "e-supplier-topimage.webp", class:"top-image" %>
    <div class="col-lg-6 col-md-8 mx-auto position-absolute top-title">
      <h1 class="app-title">e-supplier</h1>
      
      <%# ログインするユーザー(buyer/supplier)によって表示を変更する %>
      <% if buyer_signed_in? %>
        <p class="lead mt-3">こんにちは！</p>
        <p class="lead"><%= "#{current_buyer.company_name}、#{current_buyer.last_name}さん" %></p>
        <%= link_to "部品を出品する", new_part_path, class:"btn btn-primary mt-1" %>
      <% elsif supplier_signed_in? %>
        <p class="lead mt-3">こんにちは！</p>
        <p class="lead"><%= "#{current_supplier.company_name}、#{current_supplier.last_name}さん" %></p>
        <%= link_to "新着部品を確認する", root_path, class:"btn btn-primary" %>
      <% else %>
        <p class="lead">さあ、新しいパートナーを探しましょう</p>
        <p>
          <%= link_to  "メーカー、バイヤー新規登録", new_buyer_registration_path, class: "btn btn-info my-2" %>
          <%= link_to "サプライヤー新規登録", new_supplier_registration_path, class: "btn btn-warning my-2" %>
        </p>
      <% end %>
    </div>
  </div>
</section>

<%# 新着部品表示 %>
<div class="mx-4 py-5">
  <h3 class="fw-bold border-bottom pb-2">- New Arrival Parts - <span class="jpn-subtitle">新着製作依頼部品</span></h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <% count = 0 %> <%# 12件まで表示するためのカウント%>
      <% @parts.each do |part| %>
        <div class="img-hover swiper-slide">
          <%= link_to (part_path(part.id)), class:"link text-dark" do %>
            <div class="card p-2 my-2 shadow">
              <% if part.image.attached? %>
              <%= image_tag part.image, class:"card-img-top img-height mb-2" %>
              <% end %>
              <p class="fw-bold text-secondary pt-1"><%= "#{part.name}" %></p>
              <% count += 1 %>
              <% if count == 12%>
                <% break %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# Add Pagination %>
    <div class="swiper-pagination"></div>
    <%# Add Arrows %>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<%# Initialize Swiper %>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

<%# New Buyer/Supplier 新着ユーザー表示 %>
<div class="mx-4 mb-5">
  <h3 class="fw-bold border-bottom pb-2">- New Buyers -<span class="jpn-subtitle">新規登録メーカー、バイヤー</span></h3>
  <% buyer_count = 0 %> <%# 3件まで表示するためのカウント%>
  <% @buyers.each do |buyer| %>
    <ul class="d-flex my-4">
      <li class="list-unstyled me-2">
        <%= "#{buyer.created_at}" %><span>:</span>
      </li>
      <li class="list-unstyled">
        <%= link_to "#{buyer.company_name}", buyer_path(buyer.id), class:"link" %>
        <span>が登録されました。</span>
      </li>
    </ul>
    <% buyer_count += 1 %>
    <% if  buyer_count == 3 %>
      <% break %>
    <% end %>
  <% end %>
</div>

<div class="mx-4 mb-5">
  <h3 class="fw-bold border-bottom pb-2">- New Suppliers -<span class="jpn-subtitle">新規登録サプライヤー</span></h3>
  <% supplier_count = 0 %> <%# 3件まで表示まで表示するためのカウント%>
  <% @suppliers.each do |supplier| %>
    <ul class="d-flex my-4">
      <li class="list-unstyled me-2">
        <%= "#{supplier.created_at}" %><span>:</span>
      </li>
      <li class="list-unstyled">
        <%= link_to "#{supplier.company_name}", supplier_path(supplier.id), class:"link" %>
        <span>が登録されました。</span>
      </li>
    </ul>
    <% supplier_count += 1 %>
    <% if supplier_count == 3 %>
      <% break %>
    <% end %>
  <% end %>
</div>




<%= render "shared/footer" %>