<%= render "shared/header" %>

<section class="top-image text-center">
  <div class="row position-relative">
  <%= image_tag "https://cdn.pixabay.com/photo/2014/09/13/21/46/milling-444493_960_720.jpg", class:"" %>
    <div class="col-lg-6 col-md-8 mx-auto position-absolute top-title">
      <h1 class="app-title">e-supplier</h1>
      
      <%# ログインするユーザー(buyer/supplier)によって表示を変更する %>
      <% if buyer_signed_in? %>
        <p class="lead my-3"><%= "こんにちは#{current_buyer.name}さん" %></p>
        <%= link_to "部品を出品する", new_part_path, class:"btn btn-primary mt-1" %>
      <% elsif supplier_signed_in? %>
        <p class="lead"><%= "こんにちは#{current_supplier.name}さん" %></p>
        <%= link_to "新着部品を確認する", new_part_path, class:"btn btn-primary" %>
      <% else %>
        <p class="lead">さあ、新しいパートナーを探しましょう</p>
        <p>
          <%= link_to  "メーカー、バイヤー新規登録", new_buyer_registration_path, class: "btn btn-info my-2" %>
          <%= link_to "サプライヤー新規登録", new_supplier_registration_path, class: "btn btn-warning my-2" %>
        </p>
      <% end %>
    </div>
  </div>
</section>

<%# 新着部品表示 %>
<div class="mx-4 py-5">
  <h3 class="fw-bold border-bottom pb-2">New Arrival Parts</h3>
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <% count = 0 %>
      <% @parts.each do |part| %>
        <div class="img-hover swiper-slide">
          <%= link_to (part_path(part.id)), class:"link text-dark" do %>
            <div class="card p-2 my-2 shadow">
              <%= image_tag part.image, class:"card-img-top img-height" %>
              <p class="fw-bold pt-1"><%= "#{part.buyer.name}" %></p>
              <p class="fw-bold py-1"><%= "#{part.name}" %></p>
              <% count += 1 %>
              <% if count == 12%>
                <% break %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <%# Add Pagination %>
    <div class="swiper-pagination"></div>
    <%# Add Arrows %>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<%# Initialize Swiper %>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 3,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

<%= render "shared/footer" %>