<%= render "shared/header" %>

<div class="container">
  <div class="mt-5 p-4 d-flex justify-content-center parts-show">
    <%= image_tag @part.image, class:"parts-show-img" %>
  </div>

  <div class="mt-5">
    <h6 class="fw-bold border-bottom text-muted mt-4">会社名</h6>
    <h4><%= link_to "#{@part.buyer.company_name}", buyer_path(@part.buyer.id), class: "link" %></h4>

    <h6 class="fw-bold border-bottom text-muted mt-4">部品名</h6>
    <h4><%= @part.name %></h4>

    <h6 class="fw-bold border-bottom text-muted mt-4">納期</h6>
    <h4><%= @part.deadline.name %></h4>

    <h6 class="fw-bold border-bottom text-muted mt-4">素材</h6>
    <h4><%= @part.material.name %></h4>

    <h6 class="fw-bold border-bottom text-muted mt-4">依頼工程</h6>
    <h4><%= @part.processing.name %></h4>

    <h6 class="fw-bold border-bottom text-muted mt-4">詳細</h6>
    <h4><%= @part.info %></h4>

    <% if supplier_signed_in? %>
      <%= link_to "出品者に問い合わせる", root_path, class:"btn btn-primary my-5 d-block m-auto" %>
    <% elsif buyer_signed_in? && current_buyer.id == @part.buyer_id %>
      <%= link_to "削除", part_path(@part.id), method: :delete, class: "btn btn-primary my-5 d-block m-auto"  %>
    <% end %>
  
  </div>
</div>

<%= render "shared/footer" %>