<%= render "shared/header" %>

<div class="container">
  <div class="py-3">
    <% if @supplier.image.attached? %>
      <%= image_tag @supplier.image, class:"card-img-top buyer-photo"  %>
    <% else %>
      <%= image_tag "no_image.png", class:"card-img-top buyer-photo" %>
    <% end %>
  </div>

  <div class="my-3 buyer-show-layout">
    <div class="profile m-2">
        <h6 class="fw-bold border-bottom text-muted mt-4">会社名</h6>
        <h4><%= @supplier.company_name %></h4>

        <h6 class="fw-bold border-bottom text-muted mt-4">担当者名</h6>
        <h4><%= @supplier.last_name %></h4>

        <h6 class="fw-bold border-bottom text-muted mt-4">詳細情報等</h6>
        <h4><%= @supplier.prefecture.name + @supplier.address %></h4>

        <h6 class="fw-bold border-bottom text-muted mt-4">詳細情報等</h6>
        <h4><%= @supplier.profile %></h4>
    </div>

    <%# googleMap表示 %>
    <div class="m-2" id="map">
    </div>

    <script>
      function initMap() {
        const myLatLng = { lat: gon.supplier.latitude, lng: gon.supplier.longitude };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 12,
          center: myLatLng,
        });
        new google.maps.Marker({
          position: myLatLng,
          map,
          title: gon.supplier.company_name,
        });
      }
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_ESUPPLIER"]%>&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </div>

  <% if buyer_signed_in? %>
    <div>
      <%= link_to "出品者に問い合わせる", root_path, class:"btn btn-primary my-5 d-block m-auto" %>
    </div>
  <% elsif supplier_signed_in? && current_supplier.id == @supplier.id %>
    <%= link_to "プロフィール編集", edit_supplier_registration_path, class:"btn btn-primary my-5 d-block m-auto" %>
  <% end %>

<%= render "shared/footer" %>